<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{{titulo}}</title>
</head>
<body>
    <div class="container">
        <h1>{{mensaje}}</h1>

        <table class="table table-striped">
            {{#each users}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.name}}</td>
                </tr>
            {{/each}}  
        </table>

    </div>
</body>
</html>


