
html
head
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    title=titulo

body
    div.container
        h1=mensaje

        table.table.table-striped
            for user in users   
                tr
                    td= user.id
                    td= user.name

