-
    let articulos = [{
                        nombre: "caramelo",
                        precio: 2
                    }, 
                    {
                        nombre: "chicle",
                        precio: 5
                    }, 
                    {
                        nombre: "alfajor",
                        precio: 10
                    }                    
                ]

                
- let personas = ["Carlos", "Sebastián", "Martín"];