.card.cardborder.animate__animated.animate__flipInY

    .card-body.bglila
        form(action="#")
            .form-group
                input.form-control(type="text" placeholder="E-mail")
            .form-group
                textarea#msg.form-control(cols="30" rows="10" placeholder="Mensaje")
            .form-group
