extends ../template/template
block content
    body
        .container.mt-5
            #modal1.modal(tabindex="-1")
                .modal-dialog
                    .modal-content
                        .modal-header 
                            button.close(data-dismiss="modal") &times;
                        .modal-body Cuerpo del modal
                        .modal-footer
                            button.btn.btn-primary guardar cambios
                            button.btn.btn-danger(data-dismiss="modal") cancelar
            button.btn.btn-primary(type="button" data-toggle="modal" data-target="#modal1") Mostrar modal

        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")