extends ../template/template.pug

block content
    body.blue
        h3 Columnas de ancho variable
        .row
            .col-xl-9.col-lg-8.col-md-7.col-sm-6.col-5.aaa columna 1
            .col.bbb columna 2

