extends ../template/template.pug

block content

    body
        h3 Anidamiento de columnas
        .row.blue.text-center
            .col.aaa columna 1
            .col.bbb
                p columna 2
                .row
                    .col.ccc columna 2.1
                    .col.ddd columna 2.2

                    