extends ../template/template.pug

block content
    body.blue
        h3.text-center caso 1
        .container.text-center
            .row
                .col.aaa columna 1
                .col-7.bbb columna 2
                .col.ccc columna 3
        hr
        hr
        h3.text-center caso 2
        .container.text-center
            .row
                .col-auto.aaa: h1 columna 1
                .col-7.bbb: h1 columna 2
                .col-auto.ccc: p columna 3










                