extends ../template/template

block content
    body.ddd
        .container
            h3 alineación horizontal
            hr
            hr
            h4 izquierda (start)
            .row.blue.justify-content-start
                .col-3.aaa columna 1
                .col-3.bbb columna 2
            hr
            h4 centro (center)
            .row.blue.justify-content-center
                .col-3.aaa columna 1
                .col-3.bbb columna 2       
            hr
            h4 derecha (end)
            .row.blue.justify-content-end
                .col-3.aaa columna 1
                .col-3.bbb columna 2
            hr
            h4 separado (between)
            .row.blue.justify-content-between
                .col-3.aaa columna 1
                .col-3.bbb columna 2
            hr
            h4 distribuido (around)
            .row.blue.justify-content-around
                .col-3.aaa columna 1
                .col-3.bbb columna 2   

                