extends ../template/template

block content
    body.ddd
        .container
            h3 Desplazamiento de columnas
            hr
            .row.blue
                .col.aaa columna 1
                .col.offset-4.aaa columna 2
            .row.blue
                .col-4.offset-4.aaa columna 3

                