doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        //bootstrap 4
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")


        //fontawesome
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")

        //animate.css
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")

        //CSS
        link(rel="stylesheet" href="/css/estilos.css")

        //Fuentes de Google
        <link href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet">

        title= titulo
    
    body
        block content
            include ../partials/footer.pug

