<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        //FontAwesome
        link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")

        //Bootstrap 4
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")

        //Styles
        link(rel="stylesheet", href="/css/styles.css")
        title CRUD | Node.js MongoDB
    body
        nav.navbar.navbar-dark.bg-dark.mb-4
            a.navbar-brand(href="/") CRUD Node.js MongoDB
        block content
            include ../partials/footer.pug