extends ./template/template
prepend content
    .container
        .row
            .col-md-8.offset-2.text-info
                a(href='/add')
                    i.fas.fa-plus-circle   Nueva tarea
        .row
            .col-md-8.offset-2
                //tabla
                table.table.table-bordered.table-hover
                    thead
                        tr
                            th N°
                            th Titulo
                            th Descripcion
                            th Acciones
                    tbody
                        - let i = 1
                        each task in tasks
                            tr
                                td= `${i++}`
                                td= task.title
                                td= task.description
                                td
                                    .row.justify-content-around
                                        a.btn.btn-sm(href="/done/" + task._id class= !task.done? "btn-dark" : "btn-success") Hecho
                                        a.btn.btn-danger.btn-sm(href="/delete/"+task._id) Eliminar
                                        a.btn.btn-info.btn-sm(href="/update/"+task._id) Modificar